<html xmlns:th="http://www.thymleaf.org">
<body>
  <footer th:fragment="footer">
      <p>2023 ECHOECO &copy; copyright all right reserved. </p>
      <a href="#">Terms & Conditions</a>
      <a href="#">Privacy Policy</a>
      <div class="contact">
        <ul class="sns">
          <li><a href="mailto:echoeco@echoeco.com"><i class="far fa-envelope"></i></a></li>
          <li><a href="#"><i calss="fas fa-phone"></i></a></li>
          <li><a href="#"><i class="fas fa-comment-dots"></i></a></li>
          <li><a href="#"><i></i></a></li>
        </ul>
      </div>
  </footer>
</body>
</html>