<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">


      <main layout:fragment="content">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              Column1
            </div>
            <div class="col">
              Column2
            </div>
            <div class="col">
              Column3
            </div>
          </div>
          <div class="row">
            <div class="col">
              Column1
            </div>
            <div class="col">
              Column2
            </div>
            <div class="col">
              Column3
            </div>
          </div>
          <div class="row">
            <div class="col">
              Column1
            </div>
            <div class="col">
              Column2
            </div>
            <div class="col">
              Column3
            </div>
          </div>
        </div>
      </main>
</html>